# This is a basic workflow to help you get started with Actions

name: Public artifact

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  release-project:
    name: Release static to GitHub releases
    runs-on: ubuntu-latest
    steps:
      - name: Download content
        uses: actions/checkout@v2
      
      - name: Build project # This would actually build your project, using zip for an example artifact
        run: |
          zip --junk-paths my-artifact
        
      - name: Archive site content
        uses: TheDoctor0/zip-release@0.4.1
        with: 
          filename: app.zip
    
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: V${{ github.run_number }}
          release_name: Release V${{ github.run_number }}
          draft: false
          prerelease: false
          
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./my-artifact.zip
          asset_name: JB-THIRD-PERSON-MOD-V${{ github.run_number }}.zip
          asset_content_type: application/zip
          
